.registerContainer{
    width: 300px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
    border-width: 10px;
    border-color: rgb(254, 254, 254);
    background-color: rgb(1, 75, 75);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 85%;
}

img{
    height:100px;
    width: 100px;
}

input{
    border: none;
    border-radius: 5px;
}

.analysisBox{
    height: 220px;
    width: 490px;
}
.registerBtn{
    border: none;
    padding: 5px;
    border-radius: 10px;
    color:white;
    background-color: tomato;
    cursor: pointer;
}

.success{
    color: white;
    font-size: 12px;
text-align: center;
}

.failure{
    color: white;
    font-size: 12px;
text-align: center;
}

.logo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.registerCancel{
    position: absolute;
    top: 5px;
    right: 8px;
    color: aliceblue;
    cursor: pointer;
}