
.card{
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pin{
    cursor: crosshair;
}


label{
    width: inherit;
    color: teal;
    font-size: 10px;
    border-top: 2px solid teal;
    border-bottom: 0.5px solid teal;
    margin: 0.5px 0;
}

desc{
    font-size: 6px;
}

syncNestLogo{
    border-top: 1px;
    border-bottom: 1px;
    align-items:right;
    size-adjust: 50%;
}

star{
    color:grey;
}

username{
    font-size: 12px;
}

date{
    font-size: 7px;
}

form{
    width:fit-content;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    border:none;
    border-bottom: 1px;
}
textarea{
    color: teal;
}
input::placeholder,textarea::placeholder{
    font-size: 10px;

}

.submitButton{
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: teal;
    transition: width 4s;
}

.submitButton:hover{
    animation-duration:1000;
    background: #024a4a;;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-shadow: black;
    width: 80%;
    margin-left: auto;
    cursor: pointer;
}

.button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    z-index: 100000000;
    position: absolute;
    left: 90%;
    top: 2%;
}

.logout{
    background-color: tomato;
}

.login{
    background-color: teal;
}

.register{
    background-color: slateblue;
}

.opticLogo{
    position: absolute;
    width: 19%;
    height: auto;
    left: 79%;
}