
.card{
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pin:hover{
    cursor: crosshair;
}


label{
    width: inherit;
    color: teal;
    font-size: 10px;
    border-top: 2px solid teal;
    border-bottom: 0.5px solid teal;
    margin: 0.5px 0;
}

desc{
    font-size: 6px;
}

syncNestLogo{
    border-top: 1px;
    border-bottom: 1px;
    align-items:right;
    size-adjust: 50%;
}

threatLogo{
    border-top: 1px;
    border-bottom: 1px;
    size-adjust: 50%;
}

star{
    color:grey;
}

username{
    font-size: 12px;
}

.blur{
    filter: blur(4px);
}

date{
    font-size: 7px;
}

form{
    width:fit-content;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    border:none;
    border-bottom: 1px;
}
textarea{
    color: teal;
}
input::placeholder,textarea::placeholder{
    font-size: 10px;

}

.submitButton{
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: teal;
    transition: width 4s;
}

.submitButton:hover{
    animation-duration:1000;
    background: #024a4a;;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-shadow: black;
    width: 80%;
    margin-left: auto;
    cursor: pointer;
}

.button{
    border: 10px;
    padding: 5px;
    border-radius: 8px;
    width:80px;
    color: white;
    left: 90%;
    top: 2%;
}

.logout{
    background-color: tomato;
    width: fit-content;
}

.ontology{
    left: 20%;
    top: 94%;
    position: relative;
    background-color: tomato;
    width: fit-content;
}

.logout:hover{
    border-radius: 10px;
    cursor: pointer;
}

.login{
    background-color: tomato;
    margin-right: 10px;
}

.login:hover{
    border-radius: 10px;
}

.register{
    background-color: yellowgreen;
}

.register:hover{
    border-radius: 10px;
}

.opticLogo{
    position: absolute;
    width: 10%;
    height: auto;
    left: 87%;
    opacity: 85%;
}

.buttons,.logout{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 10px;
    right: 50px;
}